/* Font: Long Haul */

@font-face {
    font-family: 'longhaul';
    src: url('longhaul.woff2') format('woff2'),
         url('longhaul.woff') format('woff'),
         url('longhaul.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}